<!DOCTYPE html>
    <meta charset="utf-8">
    <head>
        <title>메인 화면</title>
        <style>
            body{
                width: 360px;
                height: 680px;
                border: 1px solid #000000;
                margin-left: 600px;
            }
        </style>
    </head>

    <body>
        <div>
            <img src="https://github.com/Yoongunwo/SW_HACK43/assets/97718735/052f58ea-e61a-4280-8dd7-10f6d5de9899" style=" position: relative; width:360px; height: 450px; top: 230px;">
        </div>

        <script>
            window.onpageshow = setTimeout( function moveToFirstPage(){
                window.location.href="/step1";
            }, 2000);
        </script>
    </body>
</html>