body {
    text-align: center;
}

.slider {
    -webkit-appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
    width: 75%; /* 슬라이더 길이 */
    height: 10px; /* 슬라이더 두께 */
    border-radius: 5px; /* 슬라이더 모서리를 약간 둥글게 */
    background: #ccc; /* 슬라이더 색상 */
    outline: none; /* 슬라이더 테두리 없이 */
    margin : 25px;
}

.difficulty-box { /*selectType.html의 난이도 고르는 박스 */
    background-color:#bebebe;
    color: #424242;
    border:none; 
    padding:15px;
    margin:30px auto;
    min-height:40px; 
    width: 70%;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
    appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
    width: 30px; /* 슬라이더 핸들 길이 */
    height: 30px; /* 슬라이더 핸들 높이 */
    border-radius: 50%; /* 핸들 모양을 원모양으로 만들기 위함 */
    background: rgb(48, 48, 48); /* 슬라이더 핸들 색상 */
    cursor: pointer; /* 슬라이더 핸들에 마우스를 갖다대면 포인터로 변경 */
}

.button {
    background-color:#484848;
    color: #fff;
    border:none; 
    padding:15px;
    margin:40px;
    min-height:30px; 
    min-width: 75%;
    font-size: 125%;
}

.button:active {
    background-color: #696969;
}

.refind{
    background-color:#fff;
    color: #484848;
    border:none; 
    padding:15px;
    margin:40px;
    min-height:30px; 
    min-width: 75%;
    font-size: 125%;
}

.refind:active {
    background-color: #cccccc;
}


.bigfont{
    font-size:150%;
}