<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>코스 선택</title>
    <link rel="stylesheet" href="/resources/static/css/style.css">
</head>
<body>
    <br><p class="bigfont">추천코스</p><br>
    <div style="display: inline-block;font-size: 200%; margin-right:10%; margin-left: 10%;">
        1</div>
    <div style="display: inline-block;font-size: 200%; margin-right:10%; margin-left: 10%;">2</div>
    <div style="display: inline-block;font-size: 200%; margin-right:10%; margin-left: 10%;">3</div>

    <div style="background-color:#eeeeee;">
        <img src="map.png" style="min-width: 70%;"><br>
        <div style="display: inline-block"><input type="button" class="refind" value="재탐색?"></div>
        <div style="display: inline-block"><input type="button" class="button" value="이 코스로 선택"></div>
    </div>

</body>
</html>