<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>코스 선택</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <br><p class="bigfont">추천코스</p><br>
    <div style="display: inline-block;font-size: 200%; margin-right:10%; margin-left: 10%;">
    <input type="button" value="1"></div>
    <div style="display: inline-block;font-size: 200%; margin-right:10%; margin-left: 10%;">
    <input type="button" value="2"></div>
    <div style="display: inline-block;font-size: 200%; margin-right:10%; margin-left: 10%;">
    <input type="button" value="3"></div>

    <div style="background-color:#eeeeee;">
        <div id="map" class="map"></div> <!-- 지도 입력할 div -->
        <div style="display: inline-block"><input type="button" class="refind" value="재탐색?"></div>
        <div style="display: inline-block"><input type="button" class="button" value="이 코스로 선택"></div>
    </div>

    <script>
        /* 여기에 지도 스크립트 입력*/
    </script>
</body>
</html>