<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>난이도 선택</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <br><p class="bigfont">유형을 선택해주세요</p><br>
    <div id="hardcourse" class="difficulty-box">
        <p class="bigfont">높은 난이도</p>
        <p>경사로가 있는 편이에요</p>
    </div>
    <div id="easycourse" class="difficulty-box">
        <p class="bigfont">낮은 난이도</p>
        <p>경사로가 없는 편이에요</p>
    </div>
    <div id="petcourse" class="difficulty-box">
        <p class="bigfont">강아지와 함께</p>
        <p>공원을 지나는 코스로 추천해요</p>
    </div>

    <input type="button" class="button" onClick="location.href='setDistance.html'" value="추천받기">

</body>
</html>