<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이동거리 선택</title>

    <style>

        .container {
            display: flex;
            justify-content: space-around;
        }

        .box {
            background-color: rgb(179, 179, 179);
            width: 100px;
            height: 100px;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
        }
        
    </style>

</head>
<body>
    <div style="width: 300px; height: 500px; margin-left: 600px; background-color: #FAFAFA">
        <br>
        <p class="bigfont" style="font-size: 16px">이동거리를 선택해주세요</p><br>
        <div style="display: flex; flex-direction: row; justify-content: space-between">
            <div style="font-size: 16px; margin-left:10px" id="minDistance" class="minDistance">0 Km</div>
            <div>
            <div id="value" style="font-size: 20px;"></div>
            </div> <!-- 현재 거리 표시-->
            <div style="font-size: 16px; margin-right:10px" id="maxDistance" class="maxDistance">10 Km</div>
        </div>
    
        <form method="post" action="https://0284-211-194-113-3.ngrok-free.app/api/km/2"> <!-- 데이터(거리,현재 위치[위도,경도]) 보내는 주소 action에 입력 -->
            <input type="hidden" id="latitude" name="latitude"> <!-- 현재 위도 -->
            <input type="hidden" id="longitude" name="longitude"> <!-- 현재 경도 -->
            <input type="range" min="0.5" max="10" step="0.5" value="5" class="slider" id="walkingdistance" name="distance"><br>
            
            
            <div class="container">
                <div class="box">소요 시간 : </br>
                    <span id="walkingTime"></span></div>
                <div class="box">총 거리 : </br>
                    <span id="distanceDisplay"></span></div>
            </div>
    
            <br>
            <input type="submit" style="margin:0 auto; background-color:gray;" class="button" value="이전으로">
            <div style="margin:30px;"></div>
            <input type="submit" style="margin:0 auto;" class="button" value="추천받기">
        </form>
    </div>

        <script>
            var slider = document.getElementById("walkingdistance");
            var output = document.getElementById("value");
            var distanceText = document.getElementById("distanceDisplay");
            var walkingTime = document.getElementById("walkingTime");
    
            function updateValue() {
                output.innerHTML = slider.value + " Km";
                walkingTime.innerHTML = (slider.value / 0.5) * 7 + " 분"; /*슬라이더의 총 단계수를 구하고, 한 단계당 7분씩 추가*/
                distanceText.innerHTML = output.innerHTML;
            }
    
            slider.oninput = function () {
                updateValue();
            };
    
            // 초기 값 설정
            updateValue();
    
            // 현재 위치 가져오기
            navigator.geolocation.getCurrentPosition(function (position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
    
                // 폼에 위치 정보 설정
                document.getElementById("latitude").value = latitude;
                document.getElementById("longitude").value = longitude;
            });
        </script>
</body>
</html>

